<div class="bg-light py-5">
    <div class="container text-center">
        <div class="social pb-5">
            <i class="fa-brands fa-twitter me-3 main-color cursor-pointer fs-4"></i>
            <i class="fa-brands fa-facebook mx-3 main-color cursor-pointer fs-4"></i>
            <i class="fa-brands fa-tiktok mx-3 main-color cursor-pointer fs-4"></i>
            <i class="fa-brands fa-linkedin mx-3 main-color cursor-pointer fs-4"></i>
            <i class="fa-brands fa-youtube mx-3 main-color cursor-pointer fs-4"></i>
        </div>
        <div>
            <p class="text-black pb-2">Salla bussiness concept is to offer fashion and quality at the best price in a
                suitable way , Salla has
                science it was founded in 1974 grown into one of the world's leading e-commerce compaines, the content
                of the site is copyright - protected and is the property of Salla .</p>
        </div>
        <div>
            <img src="assets\logo.png" width="150" alt="">
        </div>
    </div>
</div>