<div class="">
    <div class="container p-5">
        
        <div class="item" *ngIf="ProductsCategoryContainer.length">
            <h5 class="pb-3 fw-bold">Salla Categories</h5>
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let category of ProductsCategoryContainer.reverse()">
                    <ng-template carouselSlide >
                        <div class="px-3">
                            <div class="pb-4">
                                <div class="my-4 text-start">
                                    <h6 class="fw-bold">{{category.name}}</h6>
                                    <!-- <h6>{{category.slug}}</h6> -->
                                </div>
                                <img height="300" class="rounded-4 w-100" [src]="category.image">
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
        <app-loading *ngIf="ProductsCategoryContainer.length == 0"></app-loading>
    </div>
</div>



