<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 bg-light">
                <div class="sign py-5 px-5">
                    <div class="d-flex align-items-center">
                        <h2 class="fw-bold py-1 mt-2 me-2">Sign In Now For</h2>
                        <img class="py-3 " width="75" height="90" src="assets\logo.png" alt="">
                    </div>

                    <div *ngIf="ApiError" class="alert alert-danger">{{ApiError}}</div>

                    <form (ngSubmit)="HandleLogin(LoginForm)" [formGroup]="LoginForm">
                        <div class="py-2 w-100">



                            <label for="email" class="mb-1 fw-bold">Email</label>
                            <input formControlName="email" type="email" class="form-control mb-2 shadow-none border-0 "
                                id="email">

                            <div *ngIf="LoginForm.get('email')?.errors && LoginForm.get('email')?.touched"
                                class="alert alert-danger ">
                                <p *ngIf="LoginForm.get('email')?.getError('required')" class="m-0">Email Is Required
                                </p>
                                <p *ngIf="LoginForm.get('email')?.getError('email')" class="m-0">Email Is Invalid
                                </p>

                            </div>

                            <label for="password" class="mb-1 fw-bold">Password</label>
                            <input formControlName="password" type="text"
                                class="form-control mb-2 shadow-none border-0 " id="password">

                            <div *ngIf="LoginForm.get('password')?.errors && LoginForm.get('password')?.touched"
                                class="alert alert-danger ">
                                <p *ngIf="LoginForm.get('password')?.getError('required')" class="m-0">Password Is
                                    Required
                                </p>
                                <p *ngIf="LoginForm.get('password')?.getError('pattern')" class="m-0">Password Is
                                    Invalid
                                </p>

                            </div>

                            <button [disabled]="LoginForm.invalid" type="submit"
                                class="cursor-pointer button-main my-3 w-50">
                                <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                                <span *ngIf="!isLoading">Sign In</span>
                            </button>

                        </div>
                    </form>


                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 bg-light d-flex flex-column justify-content-center">
                <div class="sign p-5">
                    <img class="w-100 login" src="assets\sign_in.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>